<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:insert="partials/head :: head"></link>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>

<body>
<br>
<h1 class="column is-offset-1 is-size-2"> Edit your post </h1>
<hr>
<br>

<!--<form action="/posts/edit" method="post">-->
<!--    <input type="text" name="newTitle" th:value="${postTitle}" style="width: 25%; font-size: 1.25em">-->
<!--    <br><br>-->
<!--    <textarea name="newBody" th:text="${postBody}" style="width: 35%; height: 300px; font-size: 1.25em"></textarea>-->
<!--    <br>-->
<!--    <input type="hidden" name="sameId" th:value="${postId}">-->
<!--    <br>-->
<!--    <input type="submit">-->
<!--</form>-->

<br><br>

<form action="/posts/edit" method="post">
    <div class="form-group">
        <input type="text" class="form-control editInput" th:value="${postTitle}" name="newTitle">
        <small id="TitleHelp" class="form-text text-muted">Edit the Title of your post here</small>
    </div>
    <div class="form-group">
        <textarea type="text" name="newBody" class="form-control editTextArea" th:text="${postBody}"></textarea>
        <small id="BodyHelp" class="form-text text-muted">Edit the body of your post here</small>
    </div>
    <input type="hidden" name="sameId" th:value="${postId}">
    <button type="submit" class="btn btn-primary editPostButton">Submit</button>

</form>

<!--<div style="text-align: center; margin-left: 20%; margin-right: 20%">-->
<!--<div class="column is-half is-offset-one-quarter">-->
<!--    <form action="/posts/edit" method="post">-->
<!--        <div class="control column is-three-fifths is-offset-one-fifth">-->
<!--            <input class="input is-info" type="text" th:value="${postTitle}" name="newTitle">-->
<!--            <p class="help">Edit Title Here</p>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <div class="control column">-->
<!--                <textarea class="textarea is-info" th:text="${postBody}" name="newBody" rows="8"></textarea>-->
<!--                <p class="help">Edit Body Here</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <input type="hidden" name="sameId" th:value="${postId}">-->
<!--        </div>-->
<!--        <div class="column is-one-fifth is-offset-one-fifth">-->
<!--            <button type="submit" class="button is-link is-hovered">Submit Changes</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->


</body>


</html>