<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>Show</title>
</head>
<body>
<nav th:include="partials/navbar :: navbar"></nav>
<div class="container">

<h1>single post</h1>

<h3 th:text="${post.title}"></h3>
<h5 th:text="${post.description}"></h5>
<h5 th:text="${post.user.username}"></h5>
    <p> created by used with id <span th:text="${post.user.id}"> </span></p>



    <th:block th:if="${post.postDetails != null}">
    <h3 th:text="${post.postDetails.topicDescription}"></h3>
    <p>History of post:
        <span th:text="${post.postDetails.historyOfPost}"></span>
    </p>
    </th:block>

</div>

<!--<div style="display: flex; flex-wrap: wrap">-->
<!--    <div th:each="image : ${post.images}">-->
<!--        <div>-->
<!--            <img th:src="${image.url}" style="height: 300px; margin-left: 10px; margin-right: 10px;"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>