<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/openhelp.css">
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</th:block>