<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>Create</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top  mt-auto">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand align-items-center" href="/">home</a>

    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="d-flex align-items-center mx-2">
                <a th:href="@{'/create-user'}">
                    <button style="border:none !important" class="btn-link btn p-0">Sign Up</button>
                </a>
            </li>
            <li class="d-flex align-items-center mx-2">
                <a th:href="@{/posts}">
                    <button style="border:none !important" class="btn-link btn p-0">Index</button>
                </a>
            </li>
            <li class="d-flex align-items-center mx-2">
                <a th:href="@{/posts/create}">
                    <button style="border:none !important" class="btn-link btn p-0">Create</button>
                </a>
            </li>
            <li class="d-flex align-items-center mx-2">
                <a th:href="@{'/login?logout'}">
                    <button style="border:none !important" class="btn-link btn p-0">Logout</button>
                </a>
            </li>
<!--            <li class="d-flex align-items-center mx-2" th:if="${#authorization.expression('isAuthenticated()')}">-->
<!--                <a th:href="@{'/login?logout'}">-->
<!--                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
<!--                </a>-->
<!--                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
<!--            </li>-->
        </ul>
    </div><!--/.nav-collapse -->

</nav>

<div class="mt-auto" th:fragment="footer">
    Footer
</div>
</body>
</html>