<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="partials/head :: head"></th:block>
</head>
<body>
<nav th:include="partials/navbar :: navbar"></nav>
<h1>Are you sure you want to delete</h1>
<div class="row">
    <form th:action="@{'/users/delete-user/'+ ${id}}"  method="post">
        <a th:href="@{'/user/'+ ${id}}" class="">
            Go Back</a>
        <button type="submit" class="">
            Yes</button>
    </form>

</div>

</body>
</html>