<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/head :: head('Create')"></head>-->
<head>
    <th:block th:insert="partials/head :: head"></th:block>
    <title>Create</title>
</head>
<body>
<div class="wrapper">
    <nav th:include="partials/navbar :: navbar"></nav>

    <header class="container my-5">
        <div class="jumbotron">
            <h1 class="text-center display-1">Create a Post:</h1>
        </div>
    </header>
        <form class="container bg-light" th:action="@{/posts/create}" method="post" th:object="${post}">
            <div class="row">
                <div class="input-field col s6">
                    <label for="title">Title</label>
                    <input th:placeholder="Title" id="title" type="text" th:field="*{title}">
                </div>
                <div class="input-field col s6">
                    <label for="description">Description</label>
                    <input th:placeholder="Description" id="description" type="text"
                           th:field="*{description}">
                </div>
                <div class="row">
                    <button class="btn btn-primary" type="submit" name="action">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>