<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/navbar :: head" />
<body>
<nav th:replace="partials/navbar :: navbar" />
<h1>Welcome To My Site!</h1>
</body>



<h1>Please guess a number 1-6</h1>

<form action="/roll-dice" method="post">
    <input type="text" name="input" id="input"/>
    <button type="submit">ROLL!</button>
</form>

<h3> Your Guess: <span th:text="${input}"/></h3>
<h3> Dice roll: <span th:text="${num}"/></h3>
<h3> <span th:text="${answer}"/></h3>

</body>
</html>